<HTML>
<body>
    <Div>
        <h3>Register:</h3>
    </div>
     <div>
        <input type="text" placeholder="username"><br>
        <input type="passoword" placeholder="password"><br>
        <input type="passoword" placeholder="confirm password"><br>

        <br>
        <button>Register</button>
        </div>

This is Sign Up Page from VM
</body>
</HTML>